@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

button {
    display: inline-block;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    cursor: pointer;
    margin: 5px;
    font-family: WDXL Lubrifont TC, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    background-image: url(../img/fon.jpg);
    background-size: cover; 
    background-position: center; 
}
